@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Tektur:wght@400..900&display=swap");
@import url("/styles/css/header.css");
@import url("/styles/css/footer.css");
@import url("/styles/css/form-style.css");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.0520833333vw;
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
}

#calendar,
#footer,
#entry {
  scroll-margin-top: 150rem;
}

body {
  font-family: "Golos Text";
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  background-color: #eff1f4;
  line-height: 1.6;
}

hr {
  width: 100%;
  height: 6rem;
  margin: 60rem 0;
  border: none;
  border-radius: 5px;
  background-color: #1d1d1d;
}

span {
  color: #f2b705;
}

main {
  padding-top: 100rem;
  margin-left: 90rem;
  margin-right: 90rem;
}

.startlife {
  width: 100%;
  height: 60dvh;
  display: flex;
  flex-direction: column;
}
.startlife img {
  width: 100%;
  height: 65%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.startlife .startlife__text {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startlife .startlife__text h2 {
  font-size: 70rem;
  line-height: 1;
}

.calendar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30rem;
}
.calendar a {
  text-decoration: none;
}
.calendar .btns {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
}
.calendar .btns div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3rem solid #1d1d1d;
  color: #1d1d1d;
  padding: 2%;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.calendar .btns div h3 {
  font-size: 40rem;
  text-transform: uppercase;
}
.calendar .btns div:hover {
  transform: scale(1.02);
  background-color: #1d1d1d;
  color: #eff1f4;
}
.calendar .btns div:active {
  transform: scale(0.98);
}
.calendar .btns div.active {
  box-shadow: 0 0 20rem rgba(0, 0, 0, 0.3);
  background-color: #1d1d1d;
  color: #eff1f4;
}
.calendar .calendar__grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 500px;
  gap: 12rem;
}
.calendar .calendar__card {
  grid-column: span 3;
  background-color: #fff;
  border-radius: 15px;
  padding: 20rem;
  height: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.3s;
}
.calendar .calendar__card:hover {
  transform: scale(1.01);
}
.calendar .calendar__card .calendar__card-img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.calendar .calendar__card .calendar__divider {
  width: 33%;
  height: 1rem;
  background-color: #1d1d1d;
  margin: 10rem auto;
}
.calendar .calendar__card .calendar__card-title {
  width: 100%;
  font-weight: 600;
  font-size: 20rem;
  color: #1d1d1d;
  text-align: left;
}
.calendar .calendar__card .calendar__card-dates {
  width: 100%;
  font-weight: 600;
  font-size: 20rem;
  color: rgba(29, 29, 29, 0.6);
  text-align: left;
}
.calendar .calendar__card .calendar__card-price {
  width: 100%;
  font-weight: 600;
  font-size: 25rem;
  color: #1d1d1d;
  text-align: left;
}
.calendar .calendar__card .calendar__card-more {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 16rem;
  color: #1d1d1d;
  text-align: center;
}/*# sourceMappingURL=calendar-style.css.map */