@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Tektur:wght@400..900&display=swap");
@import url("/styles/css/header.css");
@import url("/styles/css/footer.css");
@import url("/styles/css/form-style.css");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.0520833333vw;
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
}

#calendar,
#footer,
#entry {
  scroll-margin-top: 150rem;
}

body {
  font-family: "Golos Text";
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  background-color: #eff1f4;
  line-height: 1.6;
}

hr {
  width: 100%;
  height: 6rem;
  margin: 100rem 0;
  border: none;
  border-radius: 5px;
  background-color: #1d1d1d;
}

span {
  color: #f2b705;
}

main {
  margin-left: 90rem;
  margin-right: 90rem;
}

.main_img {
  margin-left: -90rem;
  margin-right: -90rem;
  background-image: url("/sources/img/main_big.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15rem;
  align-items: end;
  padding: 2rem;
  z-index: 1;
  border-radius: 15rem;
}
.main_img .text-block {
  grid-column: 2/12;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
}
.main_img .text-block h2 {
  line-height: 1;
  font-size: 35rem;
  font-weight: 100;
  color: #eff1f4;
  margin: 0;
}
.main_img .text-block h1 {
  line-height: 0.74;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 250rem;
  font-weight: 500;
  color: #eff1f4;
  margin: 0;
  text-indent: -13.5px;
}

.collage {
  display: grid;
  margin-top: 15rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15rem;
  border-radius: 15px;
  z-index: 2;
}
.collage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1450980392);
}
.collage .block_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
}
.collage h3 {
  font-size: 30rem;
  font-weight: 200;
  color: #1d1d1d;
  opacity: 0.6;
  margin: 0;
}
.collage .block-1 {
  grid-column: span 4;
  border-radius: 15px;
}
.collage .block-2 {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.collage .block-2 img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.collage .block-3 {
  grid-column: span 5;
  border-radius: 15px;
}
.collage .block-4 {
  grid-column: span 6;
  border-radius: 15px;
}
.collage .block-5 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.collage .block-5 img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.collage .block6 {
  grid-column: span 3;
  border-radius: 15px;
}
.collage .block-7 {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.collage .block-7 h3 {
  font-size: 40rem;
  font-weight: 600;
  color: #1d1d1d;
  opacity: 1;
  margin: 0;
}
.collage .block-7 img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.collage .block-8 {
  grid-column: span 3;
  border-radius: 15px;
}
.collage .block-9 {
  grid-column: span 3;
  border-radius: 15px;
}

.why {
  width: 100%;
  height: calc(95dvh - 80rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why h2 {
  grid-column: span 12;
  height: 10%;
  font-size: 70rem;
  line-height: 1;
}

.why__item_grid {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, calc(50% - 12rem));
  gap: 12rem;
}
.why__item_grid .why__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 30rem;
  border-radius: 15px;
  background-color: #1d1d1d;
  color: #eff1f4;
  overflow: hidden;
  transition: all 0.3s ease;
}
.why__item_grid .why__item:hover {
  transform: scale(1.03);
  box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2);
  background-color: rgb(41.75, 41.75, 41.75);
  z-index: 3;
}
.why__item_grid .why__item:nth-child(1) {
  grid-column: span 6;
  background-color: #fff;
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
}
.why__item_grid .why__item:nth-child(2) {
  grid-column: span 6;
}
.why__item_grid .why__item:nth-child(3) {
  grid-column: span 6;
}
.why__item_grid .why__item:nth-child(4) {
  grid-column: span 6;
  background-color: #fff;
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
}
.why__item_grid .why__item h3 {
  font-weight: 700;
  font-size: 35rem;
  line-height: 1;
  text-transform: uppercase;
}
.why__item_grid .why__item p {
  font-weight: 400;
  font-size: 20rem;
  margin: 0 0 20rem 0;
  line-height: 1;
}
.why__item_grid .why__item img {
  width: auto;
  height: 60%;
  margin-top: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin: 0;
}

.calendar {
  width: 100%;
  height: calc(95dvh - 80rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calendar a {
  text-decoration: none;
}
.calendar h2 {
  margin-bottom: 15rem;
  font-size: 70rem;
  line-height: 1;
}
.calendar .calendar__grid {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 12rem;
}
.calendar .calendar__card {
  grid-column: span 3;
  background-color: #fff;
  border-radius: 15px;
  padding: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.calendar .calendar__card .calendar__card-img {
  width: 100%;
  min-height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.calendar .calendar__card .calendar__divider {
  width: 33%;
  height: 1rem;
  background-color: #1d1d1d;
  margin: 10rem auto;
}
.calendar .calendar__card .calendar__card-title {
  width: 100%;
  font-weight: 600;
  font-size: 20rem;
  color: #1d1d1d;
  text-align: left;
}
.calendar .calendar__card .calendar__card-dates {
  width: 100%;
  font-weight: 600;
  font-size: 20rem;
  color: rgba(29, 29, 29, 0.6);
  text-align: left;
}
.calendar .calendar__card .calendar__card-price {
  width: 100%;
  font-weight: 600;
  font-size: 25rem;
  color: #1d1d1d;
  text-align: left;
}
.calendar .calendar__card .calendar__card-more {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 16rem;
  color: #1d1d1d;
  text-align: center;
}
.calendar .calendar__all {
  display: flex;
  align-items: center;
  width: auto;
  font-weight: 600;
  font-size: 30rem;
  color: #1d1d1d;
}/*# sourceMappingURL=style.css.map */