// Переменные
$accent-color: #f2b705;
$text-color: #1d1d1d;
$background-color: #eff1f4;
$blue: #0066d2;
$green: #1ca697;
$font: "Golos Text";

footer {
  width: 100%;
  height: auto;
  display: grid;
  gap: 15rem;
  grid-template-columns: repeat(12, 1fr);

  background-color: $text-color;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  overflow: hidden;

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15rem;
    h5 {
      font-size: 35rem;
      color: rgba(255, 255, 255, 0.5);
    }
    a {
      text-decoration: none;
      color: $background-color;
      font-size: 25rem;
    }
    margin-top: 60rem;
    &:nth-child(1) {
      grid-column: 2 / 4;
    }
    &:nth-child(2) {
      grid-column: 5 / 7;
    }
    &:nth-child(3) {
      grid-column: 8 / 10;
    }
  }

  h1 {
    grid-column: 2 / 12;
    line-height: 0.74;
    width: fit-content;
    font-size: 250rem;
    font-weight: 500;
    color: $background-color;
    margin: 0;
    text-indent: -13.5px;
    transform: translateY(24px);
    span {
      line-height: 1;
    }
  }
}
