@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Tektur:wght@400..900&display=swap");
@import url("/styles/css/header.css");
@import url("/styles/css/footer.css");
@import url("/styles/css/form-style.css");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(1vw / 19.2);
  scroll-behavior: smooth;
}

h2 {
  text-transform: uppercase;
}

#calendar,
#footer,
#entry {
  scroll-margin-top: 150rem;
}

// Переменные
$accent-color: #f2b705;
$text-color: #1d1d1d;
$background-color: #eff1f4;
$blue: #0066d2;
$green: #1ca697;
$font: "Golos Text";

// Стили для body
body {
  font-family: $font;
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
}

hr {
  width: 100%;
  height: 6rem;
  margin: 100rem 0;
  border: none;
  border-radius: 5px;
  background-color: $text-color;
}

span {
  color: $accent-color;
}

// Стили для main
main {
  margin-left: 90rem;
  margin-right: 90rem;
}

// Стили для main
.main_img {
  margin-left: -90rem; // Сдвигаем влево на величину основного левого маржина
  margin-right: -90rem; // Сдвигаем вправо на величину основного правого маржина
  background-image: url("/sources/img/main_big.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15rem;
  align-items: end;
  padding: 2rem;
  z-index: 1; // Устанавливаем z-index для правильного позиционирования
  border-radius: 15rem;
  .text-block {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    h2 {
      line-height: 1;
      font-size: 35rem;
      font-weight: 100;
      color: $background-color;
      margin: 0;
    }
    h1 {
      line-height: 0.74;
      width: fit-content;
      font-size: 250rem;
      font-weight: 500;
      color: $background-color;
      margin: 0;
      text-indent: -13.5px;
    }
  }
}

// Стили для collage
.collage {
  display: grid;
  margin-top: 15rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15rem;
  border-radius: 15px;
  z-index: 2;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 3px 10px #00000025;
  }
  .block_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
  }
  h3 {
    font-size: 30rem;
    font-weight: 200;
    color: $text-color;
    opacity: 0.6;
    margin: 0;
  }
  .block-1 {
    grid-column: span 4;
    border-radius: 15px;
  }
  .block-2 {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .block-3 {
    grid-column: span 5;
    border-radius: 15px;
  }
  .block-4 {
    grid-column: span 6;
    border-radius: 15px;
  }
  .block-5 {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .block6 {
    grid-column: span 3;
    border-radius: 15px;
  }
  .block-7 {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    h3 {
      font-size: 40rem;
      font-weight: 600;
      color: $text-color;
      opacity: 1;
      margin: 0;
    }
    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .block-8 {
    grid-column: span 3;
    border-radius: 15px;
  }
  .block-9 {
    grid-column: span 3;
    border-radius: 15px;
  }
}

.why {
  width: 100%;
  height: calc(95dvh - 80rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    grid-column: span 12;
    height: 10%;
    font-size: 70rem;
    line-height: 1;
    // padding: 0 0 50rem 0;
  }
}

.why__item_grid {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, calc(50% - 12rem));
  gap: 12rem;

  .why__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 30rem;
    border-radius: 15px;
    background-color: $text-color;
    color: $background-color;
    overflow: hidden;
    transition: all 0.3s ease; // Добавляем плавный переход для всех изменений

    &:hover {
      transform: scale(1.03); // Небольшое увеличение при наведении
      box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.2); // Добавляем тень
      background-color: lighten(
        $text-color,
        5%
      ); // Немного осветляем фон при наведении
      z-index: 3; // Поднимаем элемент при наведении, чтобы тень была видна поверх других элементов
    }

    // Занимает половину ширины (6/12) и половину высоты (1/2)
    &:nth-child(1) {
      grid-column: span 6;
      background-color: #fff;
      color: $text-color;
      border: 2px solid $text-color;
    }

    &:nth-child(2) {
      grid-column: span 6;
    }

    &:nth-child(3) {
      grid-column: span 6;
    }

    &:nth-child(4) {
      grid-column: span 6;
      background-color: #fff;
      color: $text-color;
      border: 2px solid $text-color;
    }

    h3 {
      font-weight: 700;
      font-size: 35rem;
      line-height: 1;
      text-transform: uppercase;
    }

    p {
      font-weight: 400;
      font-size: 20rem;
      margin: 0 0 20rem 0;
      line-height: 1;
    }

    img {
      width: auto;
      height: 60%;
      margin-top: auto;
      object-fit: cover;
      border-radius: 15px;
      margin: 0;
    }
  }
}

// .calendar {
//   width: 100%;
//   height: auto;
//   h2 {
//     margin-bottom: 15rem;
//     font-size: 70rem;
//     line-height: 1;
//   }
//   .calendar__main {
//     width: 100%;
//     height: auto;
//     background-color: $blue;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border-radius: 25px;
//     overflow: hidden;
//   }
//   .calendar__main-item {
//     width: 100%;
//     height: auto;
//     border-bottom: 6rem solid $background-color;
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     text-decoration: none;
//     .calendar__main-item_date {
//       width: 45%;
//       color: $background-color;
//       font-size: 50rem;
//       font-weight: 500;
//       text-align: center;
//     }
//     .calendar__main-item_description {
//       width: 55%;
//       color: $background-color;
//       font-size: 40rem;
//       font-weight: 400;
//     }
//   }
//   .calendar__main-more {
//     font-size: 70rem;
//     text-decoration: none;
//     color: $background-color;
//     font-weight: 500;
//   }
// }

.calendar {
  width: 100%;
  height: calc(95dvh - 80rem);
  display: flex;
  flex-direction: column;
  gap: 30rem;
  a {
    text-decoration: none;
  }
  h2 {
    margin-bottom: 15rem;
    font-size: 70rem;
    line-height: 1;
  }
  .calendar__grid {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 12rem;
  }
  .calendar__card {
    grid-column: span 3; // Каждая карточка занимает половину ширины
    background-color: #fff;
    border-radius: 15px;
    padding: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 90%;
    align-items: flex-start; // Все элементы по левому краю

    .calendar__card-img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 10px;
    }

    .calendar__divider {
      width: 33%;
      height: 1rem;
      background-color: $text-color;
      margin: 10rem auto; // Центрируем элемент
    }

    .calendar__card-title {
      width: 100%;
      font-weight: 600;
      font-size: 20rem;
      color: $text-color;
      text-align: left;
    }

    .calendar__card-dates {
      width: 100%;
      font-weight: 600;
      font-size: 20rem;
      color: rgba($text-color, 0.6); // Опacity 0.6
      text-align: left;
    }

    .calendar__card-price {
      width: 100%;
      font-weight: 600;
      font-size: 25rem;
      color: $text-color;
      text-align: left;
    }

    .calendar__card-more {
      width: 100%;
      height: auto;
      font-weight: 400;
      font-size: 16rem;
      color: $text-color;
      text-align: center; // Центрируем текст
    }
  }
  .calendar__all {
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 600;
    font-size: 30rem;
    color: $text-color;
  }
}
